.planos__center {
    margin: auto;
    width: 70%;
}

.title__descricao {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #9c6539;
}

.descricao {
    font-family: "Roboto", sans-serif;
    color: #9c6539;
    font-weight: 200;
    font-size: 18px;
}

.numeros {
    font-family: "Roboto", sans-serif;
    color: #eeeee6;
    font-weight: 200;
    font-size: 18px;
    /* background-color: #9c6539; */
    background: linear-gradient(180deg, #9c6539 30%, #f1f2ed 10%);
    text-align: right;
    max-width: 15vh;
}

.negrito {
    font-weight: bold;
}
