.planos__center {
    margin: auto;
    width: 70%;
    height: auto;
}

.title__descricao {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #9c6539;
}

.descricao {
    font-family: "Roboto", sans-serif;
    color: #9c6539;
    font-weight: 200;
    font-size: 18px;
}

.numeros {
    font-family: "Roboto", sans-serif;
    color: #eeeee6;
    font-weight: 200;
    font-size: 18px;
    /* background-color: #9c6539; */
    /* background: linear-gradient(180deg, #9c6539 30%, #f1f2ed 10%); */
    text-align: right;
    max-width: 10vh;
}

.numeros span {
    font-family: "Roboto", sans-serif;
    color: #eeeee6;
    font-weight: 200;
    font-size: 18px;
    background-color: #9c6539;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 50px;
}

.negrito {
    font-weight: bold;
}

@media only screen and (max-width: 992px) {
    .planos__center {
        margin: auto;
        width: 50%;
        height: auto;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .planos__center {
        margin: auto;
        width: 50%;
        height: auto;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 576px) {
    .planos__center {
        margin: auto;
        width: auto;
        height: auto;
        padding-right: 10px;
    }
}
