.mobile__carousel {
    display: none;
}

.carrossel__main {
    padding-top: 80px;
}
.container-fluid {
    padding-bottom: 30px;
}

.carousel-control-next-icon {
    height: 315px;
    width: 57px;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-prev-icon {
    height: 315px;
    width: 57px;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: url("./img/seta_direita.png");
}

.carousel-control-prev-icon:after {
    content: url("./img/seta_esquerda.png");
}

.carousel-control-next {
    width: 10%;
    color: #f1f2ed !important;
}

.carousel-control-prev {
    width: 10%;
    color: #f1f2ed !important;
}

.sr-only {
    display: none;
}

.car__title {
    font-family: "cadetregular";
    font-style: 25px;
    color: #9c6539;
    text-align: center;
    text-decoration: none !important;
}

.active h2 {
    text-decoration: none !important;
}

.descritivo {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 17px;
    color: #9c6539;
    text-align: center;
}

.calendar {
    margin-left: auto;
    margin-right: auto;
}
.align-baseline {
    text-align: left !important;
    padding-left: 10px;
}

.aulas {
    color: #efefe7;
}
.turma {
    font-weight: bold;
    text-align: left;
}

.carousel-indicators li {
    background-color: #9c6539;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.btn {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 400;
    background-color: #9c6539;
    color: #efefe7;
    cursor: none;
    border: none;
    border-radius: 0%;
    text-align: right;
    /* width: 80px;
    height: 22px;
    text-align: top;
    line-height: 18px; */
}

/* INÍCIO DO MEDIA QUERY */

@media only screen and (max-width: 1199px) {
    .carrossel__container {
        display: none;
    }

    .mobile__carousel {
        display: grid;
    }

    .display-4 {
        display: none;
    }

    .title__extras {
        font-size: 18px;
        font-weight: 700;
    }

    .title__extras span {
        font-size: 18px;
        font-weight: 300;
    }

    .horarios {
        text-align: center;
        max-width: 100%;
        font-size: 18px;
        font-weight: 500;
        color: #9c6539;
    }

    .car__title {
        text-align: center;
        align-content: center;
        max-width: 100%;
    }

    .img_fluid {
        max-width: auto;
    }

    .datas {
        text-align: center;
        align-content: center;
        max-width: 100%;
    }

    .descritivo {
        text-align: center;
        align-content: center;
        max-width: 100%;
    }

    .turma__mobile {
        font-family: "cadetregular";
        font-style: 20px;
        color: white;
        text-align: center;
        align-content: center;
    }

    .turma__mobile span {
        background-color: #9c6539;
        padding: 5px;
    }

    .turma_descricao {
        font-family: "Roboto", sans-serif;
        font-weight: 200;
        font-size: 17px;
        color: #9c6539;
        text-align: center;
    }
}

@media only screen and (max-width: 992px) {
    .carrossel__container {
        display: none;
    }

    .p1 {
        display: none;
    }

    .mobile__carousel {
        display: grid;
    }

    .display-4 {
        display: none;
    }

    .car__title {
        max-width: 100%;
    }

    .img_fluid {
        max-width: auto;
    }

    .descritivo {
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .carrossel__container {
        display: none;
    }

    .mobile__carousel {
        display: grid;
    }

    .display-4 {
        display: none;
    }

    .car__title {
        max-width: 100%;
    }

    .img_fluid {
        max-width: auto;
    }

    .descritivo {
        max-width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .carrossel__container {
        display: none;
    }

    .mobile__carousel {
        display: grid;
    }

    .display-4 {
        display: none;
    }

    .car__title {
        max-width: 100%;
    }

    .img_fluid {
        max-width: auto;
    }

    .descritivo {
        max-width: 100%;
    }

    .aulas {
        max-width: 5%;
        font-size: 12px !important;
    }

    .btn {
        font-size: 12px;
    }

    .turma {
        font-size: 12px;
    }
}
